body {
    --bs-body-font-size: 0.7rem;
}

.card-img-overlay h2 {
    font-size: 1rem;
    margin-top: -0.9rem;
    margin-bottom: 0;
}

.footer {
    position: relative;
}

.review-container {
    padding: 1rem 0.5rem;
}

.carousel-item img {
    height: 300px;
}

.carousel-caption h4 {
    font-size: 0.85rem;
}

.bg-opacity-5 {
    --bs-bg-opacity: 0.05;
}

@media screen and (min-width: 768px) {
    body {
        --bs-body-font-size: 1rem;
    }

    .card-img-overlay h2 {
        font-size: 1.325rem;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .carousel-caption h4 {
        font-size: 1rem;
    }

    .main-img {
        padding-top: 6rem;
    }

    .review-container {
        padding: 1rem 3rem;
    }

    .carousel-item img {
        height: 192px;
    }
}

/* Galaxy fold has very thin screen and overflow */
@media screen and (max-width: 280px) {
    .card-img-overlay h2 {
        font-size: 0.65rem;
    }

    .card-img-overlay p {
        font-size: 0.55rem;
    }
}
